doctype html
html
  head 
    title po-ke-mon!
  body
    include ./partials/_pokemon-header.jade

    block content
      img(src="http://i474.photobucket.com/albums/rr110/SapphireChao15/CryingPikachu.jpg")

    h3 Pikachu #025
    p When several of these Pokemon gather, their electricity could build and cause lightning storms.

    // comment
    //- invisible comment